.comentarios{
   .common-box--horizontal{
       align-items: flex-start;
       align-content: flex-start;
       border-bottom: 2px solid $color_main_lighter;
       box-shadow: none;
       &__figure{
           width: 60%;
       }
   }
   .common-box__figure {
       flex:none;     
   }
   .common-box__body {
       border:none;
   }
}

@media screen and (max-width: $medium){
.comment {
    float: none;
}
}