.filter {
    border: 1px solid $color_gray_light;
    padding: .7rem;
    h4 {
        font-family: $base_sans_font_family !important;
    }
    .title-category-filter {
        font-size: map-get($text_sizes , medium );
        font-weight: bold;
    }
}

.social-link--main-bg {
    background: $color_main_regular;
}



 
