@font-face {
    font-family: 'lora';
    src: url( $fonts_path + '/lora-regular-webfont.eot');
    src: url( $fonts_path + '/lora-webfont.eot?#iefix') format('embedded-opentype'),
         url( $fonts_path + '/lore-webfont.woff2') format('woff2'),
         url( $fonts_path + '/lora-regular-webfont.woff') format('woff'),
         url( $fonts_path + '/lora-regular-webfont.svg#goboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora';
    src: url( $fonts_path + '/lora_bold-webfont.eot');
    src: url( $fonts_path + '/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url( $fonts_path + '/lora-bold-webfont.woff2') format('woff2'),
         url( $fonts_path + '/lora-bold-webfont.woff') format('woff'),
         url( $fonts_path + '/lora-bold-webfont.svg#goboldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

