a{
  text-decoration: none !important;
  &:hover{
    text-decoration: underline !important;
  }
}

/*HEADER*/
.top-bar--secondary {
    background-color: $color_secondary;
}

.top-bar__item{
    &--highlighted{
    color: #fff;
    background: $color_main_regular;
    &:hover {
        background-color: $color_main_light;
    }
    }
    &--secondary-hover {
        &:hover {
        background-color: $color_secondary_light;
        }
    }
}

.menu-item__link--hover{

        &:hover {
            background-color: white;
            color: $color_secondary_regular;
        }

}


.button {
    &--uppercase {
        text-transform: uppercase;
    }
}

.horizon__search {
    .button__index {
        border: 2px solid $color_main_regular;
	    border-radius: 180px;
	    text-decoration: none;
        position: relative;
        left: 50%;
	    font-size: map-get($text_sizes,medium);
	    text-transform: uppercase;
	    padding: 1em 1.5em;
        transform: translateX(-50%);
            &:hover{
		        border: 2px solid $color_main_regular;
		        background: $color_main_regular;
		        color: $color_white;
		}
	&:after {
			content: ">";
			margin-left: .5rem;
		}
}

}

@media screen and (max-width: $medium) {
    .horizon__search{
        .button__index {
            padding: .5em;
            font-size: map-get($text_sizes,tiny);
        }
    }
}

/*BUSCADOR*/

.horizon__search--main-color-dark{
    background-color: $color_main_dark;
}

.main-title {
    a {
        text-decoration: none;
    }
}

.search-boton {
    background-color: $color_main;
    color: $color_white;
    border-radius: 100%;
    padding: .7rem;
    font-size: 1.5rem;
    text-decoration: none;
    &:focus,&:hover,&:focus{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      color: $color_white;
      background-color: $color_main_dark;
      text-decoration: none !important;
      padding-bottom: .8em;
    }
}

.search-box {
    width: 100%;
    input {
        height: 2.8rem;
    }
    button {
        font-size: 1.4rem;
        border: 2px solid white;
    }
}

.common-box {
    &--b-bottom {
            border-bottom: 2px solid $color_main_lighter;
        }
    &__body {
        &--no-border {
        border-bottom: none;
        }
        &--no-top-bottom {
            padding-top: 0;
            padding-bottom: 0;
        }
        &--flex-none{
        flex: none;
    }
    }
}

.main-title {
    &--black {
        color: $color_black;
    }
}


.notice-highlighted {
    .content-box {
        border: none;
    }
    blockquote {
        color: $color_grey_regular;
        border-left-color: $color_backup_regular;
        font-size: map-get($text_sizes , big );
    }
}

.share {
    display: flex;
    align-content: center;
    align-items: center;
    border: none;
}

.slider {
    &__arrow{
    background-color: $color_main_regular;
    color: $color_white;
    border-radius: 150%;
    padding: 0;
    }
}

.secondary-color{
    color: $color_secondary_regular;
    font-weight: bold;
}

.grey-color_dark{
    color: $color_grey_dark;
    font-weight: bold;
}

.grey-color_darken{
    color: $color_grey_darker;
}

/* FORMULARIOS MODAL */
.fondo-flecha {
    position: relative;
    @include remove-select-arrow;
    &:before {
        position: absolute;
        content: '\e90a';
        font-family: 'ketchup';
        padding: .58em .8em;
        color: $color_white;
        right: 0;
        pointer-events: none;
        background-color: $color_main_regular;
            }
}

.modal__content {
    h2 {
        strong {
            font-weight: lighter;
            text-transform: uppercase;
            letter-spacing: .2em;
            }
        }

    .common-box {
        &__body {
        border: none;
        }
        &--horizontal {
            border-bottom: 2px solid $color_main_light;
            border-right: 1px solid $color_gray_lightest;
        }
    }
}

@media screen and (max-width: $small){
    .modal__button {
       font-size: .6em;
       top:7.5em;
    }
}


.bor-lef-rig {
    border-left: 1px solid $color_gray_lightest;
    border-right: 1px solid $color_gray_lightest;
}

.notice-highlighted {
    .common-box{
        box-shadow: none;
    }
}

.tittle-tall {
    font-size: map-get($text_sizes , tall );
}

.main-color-bg {
    color: $color_main_regular;
}

.slider {
    .common-box {
        align-items: flex-start;
    }
}

.ocultar {
    display: none;
}

.common-box__figure{
    &--flex-two{
        flex: 2 !important;
    }
}

.flex-row-center {
    display: flex;
    padding-top: 1.5em;
}

.form-switch__label{
    &--marglef{
        margin-left: .5em;
    }
}

a{
    &:visited {
        text-decoration: none;
    }
}

.common-box__body{
    &--no-absolute{
        position: none;
    }

}

.dis-block{
    .common-box--fancy{
        .common-box__body{
        position: relative;
        }
    }
}

.container{
    &--border-bot-lighter{
        border-bottom: 2px solid $color_main_lighter;

    }
}

.prod-categ{
    display: flex;
    justify-content: space-between;
}

.common-box__details{
    &--border {
        border: 1px solid;
    }

}

.tallas{
    .common-box__details {
        padding: .7em .9em;
    }
    span{
    &:first-child{
        padding: .7em .8em;
    }
    &:nth-child(2){
         padding: .7em .9em;
    }
    &:nth-child(4){
         padding: .7em .9em;
    }
    &:nth-child(5){
         padding: .7em .8em;
    }
    }
    a{
        padding-left: 1em;
        text-decoration: underline;
    }
}

.flex-center{
    display: flex;
    align-content: center;
    align-items: center;
}

.title{
    &--mask{
        font-size: 14em ;
        background:url(../images/tramas/fondo-404.jpg);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-position: center top;
    }
}

//fix icono de facebook
.social-link--facebook{
  padding: .5rem .7rem;
}

//buscador

/** hidden search field **/
#searchbar {
    display: none;
    width: 100%;
    z-index: 9999;
}

.dashicons-producto {
    content: $icon-camera;
}
.producto{
  .main-title--tiny{
    min-height: 2.5em;
  }
}


.top-bar__item--highlighted {
  &:hover{
    background-color: $color_main_dark;
  }
}

.nav-bar__menu{
  margin-top: 1.2em;
}

.nav-bar{
  padding: .6em 0 0 0 ;
}
