.main_color_dark_bg {
    background-color: $color_main_dark;
    padding: 1.3rem;

    h2 {
        color: $color_white;
        text-transform: uppercase;
        font-weight: lighter;
    }

    p,label {
        color: $color_white;
        font-size: map-get($text_sizes , big ) ;
        margin-top: 1em;
    }

    label {
        font-weight: bold;
    }

    [type="submit"] {
        text-transform: uppercase;
        padding: 1.1em 0;
    }
}

[value="suscribirme ahora"] {
    &:hover {
        background-color: $color_grey_regular;
        border: 1px solid $color_grey_regular;
    }
}