////////////////////////////////////////
//////////////////////////////////////// Font-face
////////////////////////////////////////

html{ font-family: $base_sans_font_family; }

////////////////////////////////////////
//////////////////////////////////////// Header
////////////////////////////////////////
.top-bar{
	background: $color_gray_darker;
	border-bottom: 1px solid rgba($color_gray_dark, .2);
	.social-link:not([class*="--ghost"]){
		background: transparent;
	}
	&__nobg {
		background: transparent;
	}

	&__item{
		font-size: map-get($text_sizes, regular);
		&--current {
			padding: 1rem 1rem;
			color: $color_white;
			background: $color_black;
		}
		&:hover{
			background: $color_gray_dark;
			
		}
		&:active {
			color: $color_white;
			background: map-get(map-get($colors_map, secondary), dark);
			text-decoration: none;
			}
	}
}

.nav-bar {
	background: $color_white;
	border-bottom: 2px solid $color_secondary;
	font-weight: bold;

	&__brand{
		.app-brand{
			&__name{
				font-family: $base_cursive_font_family;
				font-size: map-get($text_sizes, tall);
				color: $color_white;
			}
		}
	}

	&__menu {
		background: $color_white;
	}

	.menu-item {
		color: $color_secondary_dark;

		&--current{
			background: $color_black;
			color: $color_gray;
			@include media(medium-down){
				background: $color_black;
			}
		}

		&__link{
			color: $color_secondary;
			padding: .75rem 1rem;
			&:hover {
				color: $color_secondary;
			}
			&:active {
				color: $color_white;
				background: map-get(map-get($colors_map, gray), light);
				text-decoration: none;
			}
			@include media(medium-down){
				text-decoration: underline;
			}
		}
		&--has-submenu{
			.menu-item__link{
				padding-right: 2.25rem;
			}
			.submenu__item{
				background-color: $color_gray_lightest;
				color: $color_secondary_dark;
				&:hover, &--current{
					background-color: $color_secondary_light;
					color: $color_white;
				}
			}

		}
		.submenu{
			z-index: 1000;
		}

	}

	@include media( medium-down ){
		background: $color_gray_darker;
		color: $color_gray;
		.menu-item--has-submenu.deployed:after,
		.no-touchevents .menu-item--has-submenu:hover:after,
		.menu-item.deployed .menu-item__link,
		.menu-item:hover .menu-item__link{
			color: inherit;
			background-color: transparent;
		}
		.nav-bar__deploy-button{
			background-color: $color_main_regular;
		}
	}
}



////////////////////////////////////////
//////////////////////////////////////// Footer
////////////////////////////////////////

.footer-bar {
	background: $color_gray_darker;
	.social-link:not([class*="--ghost"]){
		background: $color_gray_darker;
	}

	.app-brand__name {
		padding-top: 1em;
		font-size: map-get($text_sizes, regular);
		&:hover{
			color: $color_gray;
		}
	}

	.footer-bar__link{
		&:hover{
			color: $color_gray;
		}
	}
}



////////////////////////////////////////
//////////////////////////////////////// Modulos
////////////////////////////////////////

.common-box {
	&__body {
		.common-box--fancy & {
			background: rgba($color_white, .7);
			padding: 1rem 1rem .1rem;
		}

		.common-box__footer{
			padding: .5rem 1rem;
		}
	}

	&__title {
		.common-box--fancy & {
			color: $color_gray_darker;
			font-weight: normal;

			a {
				color: $color_gray_darker;
				&:hover { color: $color_gray; }
			}
		}
	}
	&__tag{
		background: transparent;
		border: 1px solid $color_secondary;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		color: $color_secondary;
		font-size: map-get($text_sizes, medium);
		font-weight: bold;
		padding: .4em .5em .4em 1em;
		&:before{
			content: "\25E6";
			font-weight: normal;
			margin-right: .5rem;
		}
	}
	&__excerpt{
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
				color: $color_black;
			}
		}
		.icon-elem.font-color-grey-dark{
			font-size: map-get($text_sizes, medium);
			margin-right: .25rem;
		}
	}
	
	&__meta{
		a{
			&:hover{
				color: $color_black;
			}
		}
	}
	&__link{
		cursor: pointer;
		padding: .1rem .2rem;
	}
	&__excerpt{
		margin-top: 0;
		padding: .6725rem 0;
	}
}

.common-box--featured{ font-size: text_sizes(medium); }

.common-box--fancy {
	background: transparent;
}

.common-box__plus{
	margin: .75rem 0;
	a{
		text-decoration: underline;
		&:hover{
			color: $color_black;
			text-decoration: none;
		}
	}
}

////////////////////////////////////////
//////////////////////////////////////// Extras
////////////////////////////////////////

h4:not(:first-child):not([class*=__title]){
	margin-top: 0;
}


.title{
	display: block;
    font-family: $base_sans_font_family;
    font-size: map-get($text_sizes, huge);
    font-weight: bold; 
    
    a{
    	color: $color_main_light;
    	text-decoration: underline;
    	&:hover{
    		text-decoration: none;
    	}
    }
}

.main-title {
	display: block;
    font-family: $heading_font_family;
    font-size: map-get($text_sizes, tall);
    font-weight: bold;
    a{
    	color: $color_main;
    	text-decoration: underline;
    	&:hover{
    		text-decoration: underline;
    	}
    }
	&_center{
		text-align: center;
	}
	&--bienvenida{
		font-size: map-get($text_sizes, taller);
	}
	&--producto {
		font-size: map-get($text_sizes, regular);
	}
}

.main-title--sub{
	display: block;
    font-family: $base_serif_font_family;
    font-size: map-get($text_sizes, bigger);
    font-weight: normal;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a{
    	color: $color_main_light;
    	text-decoration: underline;
    	&:hover{
    		text-decoration: none;
    	}
    }
}

.title--tiny{
	display: block;
    font-family: $base_serif_font_family;
    font-size: map-get($text_sizes, regular);
    font-weight: normal;
    a{
    	color: $color_main_light;
    	text-decoration: underline;
    	&:hover{
    		text-decoration: none;
    	}
	}
}

.main-title--tiny{
	display: block;
    font-family: $heading_font_family;
    font-size: map-get($text_sizes, big);
    font-weight: bold;
    a{
    	color: $color_main_regular;
    	text-decoration: none;
    	&:hover{
    		text-decoration: none;
    	}
    }
}

.overlap{
	position: absolute;
	display: inline-block;
	font-weight: regular;
	font-size: map-get($text_sizes, tall);
	font-style: map-get($text_sizes, big);
	font-family: $base_serif_font_family;
	color: $color_white;
	text-align: center;
	padding: .5em 1em .3em;
	background: $color_secondary;
	border-radius: 0 0 $base_border_radius 0;
}

.overlap--footer{
	position: absolute;
	display: inline-block;
	font-weight: regular;
	font-size: map-get($text_sizes, small);
	font-style: map-get($text_sizes, big);
	color: $color_white;
	text-align: left;
	padding: .3rem .5rem;
	background: $color_black;
	border-radius: $base_border_radius 0 0 0;
	right: 0;
	bottom: 0;
}


.button--more{
	color: $color_white;
	background-color: $color_main_regular;
	border: 2px solid $color_main_regular;
	border-radius: 50px;
	text-decoration: none;
	position: relative;
	bottom: .7em;
	padding: .625em 1em;
	margin-top: .5em;
	font-size: map-get($text_sizes, tiny);

	&__main{
		padding: .5rem 2.5rem;
		font-size: map-get($text_sizes, medium);
		margin-top: 2rem;
	}
	&:hover{
		background: $color_main_light;
		color: $color_white;
	}
}

.button--medium{
	color: $color_white;
	border-radius: 50px;
	text-decoration: none;
	padding: .625em 1em;
	max-width: 17em;
	background: $color_main;
	&:hover{
		background: $color_main_light;
		color: $color_white;
	}
}

.button--send{
	color: $color_white;
	border: 2px solid $color_main;
	background: $color_main;
	border-radius: 50px;
	text-decoration: none;
	position: relative;
	bottom: .7em;
	padding: .625em 7em .625em 7em;
	&:hover{
		background: $color_main_light;
		color: $color_white;
		border: 2px solid $color_main_light;
	}
}

.button--category{
	border: 1px solid $color_main;
	color: $color_white;
	border-radius: 50px;
	position: relative;
	bottom: .7em;
	padding: .9em 1em .7em;
	text-decoration: none;
	&:hover{
		color: $color_black;
	}
}

.button--no-bg {
	border: 2px solid $color_main;
	color: $color_white;
	border-radius: 50px;
	position: relative;
	left: 35%;
	bottom: .5em;
	padding: .7rem 1rem;
	text-decoration: none;
	color: $color_main;

	&:after {
		content: ">";
		margin-left: 10px;
	}

	&:hover {
		color: $color_white;
		background-color: $color_main_dark;
		border: 2px solid $color_main_dark;
	}
}

.button--extralarge {
	background-color: $color_main;
	border: 1px solid $color_main;
	width: 100%;
	color: $color_white;
	border-radius: 50px;
	position: relative;
	padding: .7rem .7rem;
	text-decoration: none;
	margin: 1.5rem 0;
	&:hover{
		color: $color_white;
		background: $color_main_dark;	}
}

.button--black__small{
	background-color: $color_main;
	border: 1px solid $color_main;
	color: $color_white;
	border-radius: 50px;
	position: relative;
	bottom: .3em;
	padding: .65em 1.1em;
	text-decoration: none;
	&:hover{
		color: $color_white;
		background: $color_main_light;
		border: 1px solid $color_main_light;
	}

	.icon-elem--chevron_right{ vertical-align: initial; }
}

.button--large{
	border: 1px solid $color_main;
	max-width: 35em;
	padding: 1em;
	font-weight: normal;
	color: $color_white;
	border-radius: 50px;
	text-decoration: none;
	position: relative;
	bottom: .7em;
	padding: .625em 1em;
	&:hover{
		background: $color_main_dark;
		color: $color_white;
	}
}

.common-box__buttons{ padding: 0 0 1rem; }

.bg-lines{
	background: url(../images/tramas/handmadepaper.png);

	.common-box__meta{ padding-top: 1em; }
}

.common-box__tag--extra{
	background: url(../images/tramas/noise_lines.png);
	color: $color_black;
	font-size: map-get($text_sizes,small);
	font-weight: normal;
	&:before{
		border-color: transparent whitesmoke transparent transparent; 
	}
}

.horizon {
	padding-bottom: 2rem;

	&__inner{ padding-top: 2rem; }

	.font-centered{ padding-top: 1rem; }

	.common-box--fancy__left{ margin-bottom: .35em; }
}

.horizon__excerpt{
	background: url(../images/tramas/noise_lines.png);
	.gridle-gr-12{ padding: 0 .5em; }
	.common-box__tag{
		color: $color_secondary_regular;
		font-weight: bold;
		&:before{
			content: "\25E6";
			font-weight: normal;
			margin-right: .5rem;
		}
	}
}
 
.horizon__slider{
 	.slider__arrows{ top: 40%;}

 	.slider__arrow{
 		&:hover {
    		background: $color_gray_dark;
    	}
	}

 	.slider__thumbnail{ max-width: 33%; }

	.slider__thumbnail--current {
		opacity: 1;
		border-color: $color_gray;
		&:hover{ border-color: $color_black; }
	}

	.common-box__extra--font{
		padding: .3rem 0;
	}
	.common-box__more{ line-height: 2; }
}

.image-box {
	border: 1px solid $color_gray_dark;
	&:hover { border-color: $color_gray_light; }
}

.sub-menu__holder{
	font-size: map-get($text_sizes, tiny);
    line-height: 1.8;
    color: $color_main_light;
    	&:hover{
		color: $color_black;
	}
	.sub-menu__link{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
			color: $color_black;
		}
	}
	.sub-menu__link--current{
		text-decoration: none;
		&:hover{
			color: $color_black;
			text-decoration: none;
		}
	}	
}

.horizon--extra{
	padding: 2em 0;
	.common-box__excerpt{
		font-size: map-get($text_sizes, regular);
	}
}

.horizon__search{
	.form-control__field {
		padding: .2em .5em;
		border: 1px solid $color_gray;
		border-right: transparent;
		&:hover{
			border-right: transparent;
		}
		&:focus{
			border-right: transparent;
		}
	}

	.form-control__group {
		.form-control__field:first-child {
    		border-radius: 0;
    	}
	}

	.form-control__group__addon:last-child {
		border: 1px solid $color_gray;
		border-left: transparent;
		border-radius: 0;
		&:hover{
			border-left: transparent;
		}
	}

	.form-control__group__addon--has-button{
		.button{
			padding: .3em;
			text-decoration: none;
			background: $color_white;
			i{
				color: $color_gray_dark;
				&:hover{
					color: $color_gray;
				}
			}
		}
	}

	.form-control__field::-webkit-input-placeholder {
    	font-size: map-get($text_sizes,small);
    	padding: 0 .5em;
	}

	.form-control__search{
		width: 5%;
		.icon-elem{
			font-size: map-get($text_sizes, big);
		}
		@include media(medium-down){
			width: 20%;
		}
	}

	.common-box--body__medium{
		max-width: 50%;
    	position: absolute;
    	bottom: 3em;
    	left: 50%;
    	transform: translateX(-50%);
    	padding: 2.5em 5em;
		background: hsla(0,0%,100%,.7);
	}

	.button--black__box{
		color: $color_main;
    	border: 3px solid $color_main;
    	border-radius: 50px;
    	text-decoration: none;
    	position: relative;
    	top: 1em;
    	padding: 1rem 2rem;
    	left: 50%;
    	font-size: map-get($text_sizes,regular);
		text-transform: uppercase;
    	transform: translateX(-50%);
    		&:hover{
			border: 3px solid $color_main_light;
			background: $color_main_light;
			color: $color_white;
		}
	}
	
}


.form-control__field--select--options{
    text-indent: .01px;
    text-overflow: '';
    cursor: pointer;
    padding-right: 2rem;
    background: $color_white url(../images/icons-dark/ic_arrow_drop_down.svg) calc(100% - .5em) 50% no-repeat;
    background-size: 1.5rem;
	position: relative;
}

.form-control__field { border-radius: 0; 
	&:focus{
		border: 1px solid $color_gray;
	}

}

.form-control__field--select{ width: 100%; }

.content{
	&__sidebar{
		padding-top: 1rem;
	}
}

.content-box--grey{
	.common-box__body{
		border-top: 3px solid $color_black;
		background: $color_gray_lightest;
	}
	ul{
		color: $color_gray;
		font-size: map-get($text_sizes,regular);
		
		a{
			text-decoration: underline;
			&:hover{
				color: $color_black;
				text-decoration: none;
			}
		}
	}
}

.common-box__extra{
	.button--load{
		width: 35em;
		border: 1px solid $color_gray;
		.icon-elem{
			color: $color_secondary_light;
		}
		&:hover{
			border: 1px solid $color_gray;
		}
	}
}

.button--plus{ 
	&:hover{
		text-decoration: none;
		color: $color_black;
	}
}

.responsive-table{
	th{
    	background: $color_gray_darker;
	}
	tr:nth-child(odd){
    	background: $color_white;
	}
	th, td{
		border: 1px solid $color_gray_lightest;
		font-size: map-get($text_sizes, regular);
	}
	td:first-child{
		font-style: italic;
	}
	@include media( small-down ) {
		width: 100%;
		position: relative;

		thead { display: none; }
		tbody { display: flex; }

		td { 
			display: block;
			position: relative;
		}

		tr {
			display: block;
			flex: 1;

			&:nth-child(even){
		    	background: transparent;
			}

			td:nth-child(even) {
				background: transparent;
			}

			&:first-child td {
				padding-left: 7em;

				&::before {
					content: attr(data-th);
					display: flex;
					align-items: center;
					background: $color_black;
					color: $color_white;
					font-weight: bold;
					padding: .5em;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					height: 100%;
					width: 6em;
				}
			}
		}

		
	}
}

.modal--loaded { background: hsla(0,0%,100%,.5); }

.modal__content{
	background: $color_white;
	border-radius: 0;
	top: 2em;
}

.modal__button{
	background: $color_gray_lightest;
	position: absolute;
	padding: .5em 1em;
    left: 71.5%;
    transform: translateX(-32%);
    top: 5em;
    border: 3px solid $color_main_regular;
	border-radius: 180%;
    z-index: 1000;
	color: $color_main_regular;
	text-transform: uppercase;
	font-weight: bold;
}

.modal__button:before{ content: "X"; }

#owl-slider{
	.item{
  		display: block;
  		padding: 1.25em 0;
  		margin-right: 1.1em;
  		color: $color_white;
  		-webkit-border-radius: 3px;
  		-moz-border-radius: 3px;
  		border-radius: .1875em;
  		text-align: center;
	}
}
 
//To move navigation buttons outside use these settings:
 
.owl-buttons{
	.owl-prev{ 
    	color: $color_white;
    	display: inline-block;
    	margin: 0px;
    	padding: .3125em 6px;
    	-webkit-border-radius: 30px;
    	-moz-border-radius: 30px;
    	border-radius: 1.875em;
    	background: $color_gray;
		position: absolute;
    	bottom: 5.625em;
    	&:hover{
    		background: $color_black;
    	}
    	.icon-elem{
    		margin-top: .125em;
    		font-size: 1.875em;
    	}
    }
}
 
.owl-buttons{
	.owl-next{
  		left: 95%;
   		color: $color_white;
    	display: inline-block;
    	margin: 0px;
    	padding: .3125em 6px;
    	-webkit-border-radius: 30px;
    	-moz-border-radius: 30px;
    	border-radius: 1.875em;
    	background: $color_gray;
		position: absolute;
    	bottom: 5.625em;
    	&:hover{
    		background: $color_black;
    	}
    	.icon-elem{
    		margin-top: .125em;
    		font-size: 1.875em;
    	}
	}
}

.button--off{
	color: $color_gray_darker;
	font-size: map-get($text_sizes, medium);
	&:hover{ 
		text-decoration: none;
		color: $color_black;
	}
}

////////////////////////////////////////
//////////////////////////////////////// Responsive
////////////////////////////////////////
@media only screen and (max-width: $large){
	.modal__content{ max-width: 100%; }
	
	.button--large{ max-width: 22em; }

	.horizon__search {
		.main-title { font-size: map-get($text_sizes,regular); }
	}

	.horizon__search {
		.font-size-taller { font-size: map-get($text_sizes,big); }
	}

	.modal__button { left: 88%; }
}



@media only screen and (max-width: $medium) {
	.horizon__search {
		.common-box--body__medium {
    		width: 80%;
    		bottom: .6em;
    		padding: .5em 2em .5em 4em;
    	}
	}

	.horizon__search {
		.main-title { font-size: map-get($text_sizes, regular); }
	}
	
	.main-title{ margin-top: 0; }

	.horizon__search {
		.font-size-taller { font-size: map-get($text_sizes,regular); }
	}

	.horizon__search {
		.button--black__box {
    		top: 0em;
    		padding: .4em 1em;
    		font-size: map-get($text_sizes,small);
    	}
	}
	
	#owl-slider {
		.item { margin-right: 0; }
	}

	.modal__button { left: 83%; }
}


@media only screen and (max-width: $small) {
	.main-title{ font-size: map-get($text_sizes,bigger); }

	.button--large{ max-width: 18em; }

	.slider{
		.item{ margin-right: 1.1em; }
	}
	
	.owl-buttons{
		.owl-next{ left: 89%; }
	}
	
	.overlap{ 
		font-size: map-get($text_sizes,regular);
	}

	.horizon__search{
		.common-box--body__medium {
			width: 70%;
    		bottom: .5em;
    		padding: .5em .5em .5em 1em;
    	}
    }

    .horizon__search{
    	.main-title{ font-size: map-get($text_sizes,mini); }
    }

    .horizon__search{
    	.font-size-taller{ font-size: map-get($text_sizes,tinier); }
    }

    .horizon__search{
    	.button--black__box {
    		top: .5em;
    		padding: .2em 2em;
   			font-size: map-get($text_sizes,tinier);
   		}
   	}

   	.horizon__p{
   		.main-title{ font-size: map-get($text_sizes,bigger); }
   	}

   	.title{
		font-size: map-get($text_sizes,tall);
	}

   	.common-box--featured { font-size: map-get($text_sizes,regular); }

	.common-box__extra {
		.button--load { width: 15em; }
	}

   	.modal__content{ max-width: 100%; }



   	.form-box{
   		.title--tiny{ margin-top: 1em; }
   	}
   	.modal__button {
    	left: 90%;
    	top: 5em;
    	transform: translateX(-100%);
	}
}

@media only screen and (max-width: $extra_small) {
	.owl-buttons{
		.owl-next{ left: 86%; }
	}

	.form-box{
   		.title--tiny{ margin-top: 1em; }
   	}
   	.modal__button {
    	left: 87%;
    	top: 4.5em;
	}

	.button--off{ float: right; }

	.horizon{
		.common-box__body{ padding: .5rem; }

		.common-box__footer{ padding: 1rem 0; }

		.button--black__right{
			bottom: .9rem;
		}
	}
}


