////////////////////////////////////////
//////////////////////////////////////// Base
////////////////////////////////////////

//$base_sans_font_family: "biryani", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$base_serif_font_family: "alikeregular", 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$fonts_path: '../fonts';
$base_serif_font_family: 'Droid Serif', serif;
$base_sans_font_family: 'Source Sans Pro', sans-serif;
$base_cursive_font_family: 'Pacifico', cursive;
$heading_font_family: 'lora';	
////////////////////////////////////////
//////////////////////////////////////// Colors
////////////////////////////////////////

/*$color_main_darker: 		#0C0729;
$color_main_dark: 			#120561;
$color_main_regular: 		#2D4993;
$color_main_light: 			#75ACCC;
$color_main_lighter: 		#D3E4F5;

$color_secondary_regular: 	#F55500;
$color_secondary_dark: 		darken($color_secondary_regular, 10);
$color_secondary_darker: 	darken($color_secondary_dark, 10);
$color_secondary_light: 	lighten($color_secondary_regular, 10);
$color_secondary_lighter: 	lighten($color_secondary_light, 10);*/

$color_black:				#161617;
$color_gray_darker:			#48484A;
$color_gray_dark:			#7A7A7D;
$color_gray:				#ADADB0;
$color_gray_light:			#C6C6CA;
$color_gray_lighter:		#DFDFE3;
$color_gray_lightest:		#F8F8FD;
$color_white:		  		#FFFFFF;

$color_main_darken:			#182D51;
$color_main_dark:			#355285;
$color_main:				#5C7DB8;
$color_main_light:			#91A8D0;
$color_main_lighter:		#D3DCEB;

$color_secondary_dark:		#5B7D29;
$color_secondary:			#88B04B;
$color_secondary_light:		#ACCA7F;
$color_secondary_lighter:	#D9E8C1;

$color_backup_dark:			#00698C;
$color_backup:				#1395BF;
$color_backup_light:		#41B3D9;

$color_deploy_btn:			#e68422;


$text_sizes: (
	mini: 		.5rem,		// 8px
	tinier: 	.625rem, 	// 10px
	tiny: 		.75rem,		// 12px
	small: 		.875rem,	// 14px
	regular: 	1rem,		// 16px
	medium: 	1.125rem,	// 18px
	big: 		1.25rem,	// 20px
	bigger: 	1.5rem,		// 24px
	tall: 		1.75rem,	// 28px
	taller: 	2rem,		// 32px
	tallest: 	2.25rem,	// 36px
	huge: 		2.5rem 		// 40px
);

