////////////////////////////////////////
//////////////////////////////////////// Header general
////////////////////////////////////////



////////////////////////////////////////
//////////////////////////////////////// Top bar
////////////////////////////////////////
.top-bar {
	background: map-get(map-get($colors_map, grey), darker);

	&__item {
		margin: 0 .25rem;
	}

	&__items {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		// context change according to design. NOT PRETTY
		.nav-bar__auxmenu & {
			display: block;
			background: map-get(map-get($colors_map, grey), darker);
		}
	}

	&__item {
		display: block;
		padding: .5em;
		font-weight: bold;
		font-size: map-get($text_sizes, tiny);
		color: $color_white;
		background: transparent;
		transition: $base_transition;

		&:hover {
			background: map-get(map-get($colors_map, grey), regular);
			color: $color_white;
			text-decoration: none;
		}

		&--current {
			background: $color_black;
			color: map-get(map-get($colors_map, grey), regular);
		}

		// context change according to design. NOT PRETTY
		.nav-bar__auxmenu & {
			display: block;
			font-size: map-get($text_sizes, regular);
			padding: 1em;
			margin: 0;
			border-top: 1px solid map-get(map-get($colors_map, grey), regular);
		}
	}

	@include media( medium-down ){
		display: none;
	}
}


////////////////////////////////////////
//////////////////////////////////////// Nav bar
////////////////////////////////////////
.nav-bar {
	background: $color_white;
	padding: 1rem 0;

	&__holder {
		display: flex;
	}

	// flex layout
	&__brand, &__body {
		max-width: 100%;
		display: flex;
		align-items: center;
	}
	
	// adapt width from content
	&__brand { flex: 0 0 auto; }
	
	// adapt width to remaining space
	&__body { flex: 1 1 auto; }

	&__menu-holder {
		margin: 0 0 0 2rem;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}

	&__auxmenu {
		display: none;
	}

	&__deploy-button {
		@include reset-appearance;
		display: none;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 100%;
		top: .25rem;
		width: 3rem;
		height: 3rem;
		background: map-get(map-get($colors_map, secondary), regular);
		transition: $base_transition;

		// states
		&:active {
			background: map-get(map-get($colors_map, secondary), light);
			color: $color_secondary_regular;
		}
		
		// only child allowed
		span {
			display: block;
			margin: 0 auto;
			width: 40%;
			height: 2px;
			background: $color_white;
			position: relative;
			transition: $base_transition;

			&::before, &::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: $color_white;
				position: absolute;
				left: 0;
				right: 0;
				top: calc(50% - 1px);
				transform: rotateZ(0);
				transition: $base_transition;
			}

			&::before { transform: translateY(-6px) rotateZ(0); }
			&::after { transform: translateY(6px) rotateZ(0); }
		}

		// modifier
		&.deployed {
			background: map-get(map-get($colors_map, secondary), dark);

			span {
				background: transparent;
				&::before { transform: translateY(0) rotateZ(45deg); }
				&::after { transform: translateY(0) rotateZ(-45deg); }
			}
		}
	}

	@include media( large-down ){
		&__holder { padding: 0 1rem; }
		&__brand { flex: 0 1 auto; }
		&__body { flex: 0 1 auto; }
	}

	@include media( medium-down ){
		position: relative;
		padding: 0;
		
		&__holder { 
			padding: 0 4rem;
			height: 3.5rem;
		}

		&__brand { 
			order: 2;
			width: 100%;
			justify-content: center;
		}

		&__body {
			background: $color_white;
			order: 1;
			position: absolute;
			z-index: 1000;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			transition: all 500ms ease;
			width: calc(100% - 3rem);
			height: 100vh;
			display: block;

			&.deployed {
				transform: translateX(0);
			}
		}

		&__menu-holder {
			margin: 0;
			display: block;
			background: map-get(map-get($colors_map, grey), darker);
			height: 100%;
    		overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		&__menu {
			margin: 0;
			display: block;
		}
	
		&__auxmenu {
			display: block;
		}

		&__deploy-button {
			display: flex;
		}
	}
}

.menu-item {
	display: flex;
	margin: 0;
	align-items: center;
	background: transparent;
	color: map-get(map-get($colors_map, main), regular);
	transition: $base_transition;

	// Elements
	&__link {
		display: block;
		width: 100%;
		flex-basis: 100%;
		padding: .75rem;
		transition: $base_transition;
		background: transparent;
		&:hover { text-decoration: underline; }
	}

	// States
	&:hover {
		color: $color_white;
		.menu-item__link { color: $color_secondary_dark }
	}

	// Modifiers
	&--current {
		background: map-get(map-get($colors_map, main), regular);
		.menu-item__link { color: $color_white; }
	}

	&--special-items {
		&:hover { background: transparent; }
	}

	&--has-submenu {
		position: relative;

		&::after {
			@extend %icon-font-family;
			content: $icon-chevron_down;
			font-size: 1.5em;
			display: block;
			position: absolute;
			top: 50%;
			right: .5rem;
			transform: translateY(-50%);
			transition: $base_transition;
			background: transparent;
		}

		.menu-item__link { padding-right: 2.25rem; }

		.no-touchevents &:hover, &.deployed {
			.submenu {
				display: block;
				@include fadeIn( $count: 1, $duration: 200ms );
			}
		}
	}

	@include media( large-down ){
		font-size: map-get($text_sizes, small);
	}

	@include media( medium-down ){
		display: block;
		width: 100%;
		background: $color_white;
		font-size: map-get($text_sizes, regular);
		border-top: 1px solid map-get(map-get($colors_map, grey), lightest);

		// States
		&:hover, &.deployed {
			background: $color_white;
			color: map-get(map-get($colors_map, main), regular);
			.menu-item__link { color: map-get(map-get($colors_map, main), regular); }
		}

		&__link { padding: 1rem; }

		// Modifiers
		&--current {
			background: map-get(map-get($colors_map, main), regular);
			.menu-item__link { color: $color_white; }
		}

		&--has-submenu {
			.menu-item__link { padding-right: 3.25rem; }
			
			&::after {
				text-align: center;
			    display: flex;
			    align-items: center;
			    justify-content: center;
				top: 0;
				right: 0;
				width: 3rem;
				padding: 1rem 0;
				transform: translateY(0);
			}

			.no-touchevents &:hover, &.deployed {
				&::after {
					color: $color_white;
					background: map-get(map-get($colors_map, main), light);
				}

				.submenu {
					display: block;
					@include fadeIn( $count: 1, $duration: 200ms );
				}
			}
		}

		&--special-items {
			padding: 1rem;
		}
	}
}

.submenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 10rem;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: map-get($text_sizes, small);
	transition: $base_transition;

	&__item {
		display: block;
		margin: 0;
		padding: 0;
		border-top: 1px solid $color_white;
		background: map-get(map-get($colors_map, main), light);
		transition: $base_transition;

		&:hover {
			color: $color_white;
		}
		

		a {
			display: block;
			color: $color_secondary_regular;
			padding: .75rem;

			&:hover { text-decoration: none;
			color: $color_white; }
		}

		&--current, &:hover {
			background: map-get(map-get($colors_map, main), lighter);
			color: $color_white;
		}
	}

	@include media( medium-down ){
		position: static;
	}
}


























