<section class="form-box" data-role="modal-content">
	<div class="container gridle-no-gutter">
		<div class="gridle-row">
			<div class="gridle-gr-12 gridle-gr-12@medium gridle-gr-centered">		
				<h2 class="title--tiny">
					<strong>Guia de talla</strong>
				</h2>
				
				<p class="common-box__excerpt">
					Guia de tallas de producto XY
				</p>
			
				<table class="responsive-table">
					<thead>
  						<tr>
    						<th>Tallas </th>
    						<th>XS</th>
    						<th>S</th>
    						<th>M</th>
    						<th>L</th>
    						<th>XL</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr>
    						<td data-th="Tallas">Alto</td>
    						<td data-th="XS">12</td>
    						<td data-th="S">13,3</td>
    						<td data-th="M">15</td>
    						<td data-th="L">16,7</td>
    						<td data-th="XL">17,4</td>
  						</tr>
  						<tr>
    						<td data-th="Tallas">Ancho</td>
    						<td data-th="XS">24</td>
    						<td data-th="S">25,3</td>
    						<td data-th="M">26</td>
    						<td data-th="L">27,8</td>
    						<td data-th="XL">30</td>
  						</tr>
  					</tbody>
  				</table>
  			</div>
		</div>
	</div>
</section>