<section class="form-box" data-role="modal-content bg-white">
	<div class="container gridle-no-gutter">
		<div class="gridle-row">
			<div class="gridle-gr-10 gridle-gr-12@medium gridle-gr-centered">		
				<h2 class="title--big">
					<strong>Producto a cotizar</strong>
				</h2>
				
				<article class="common-box--horizontal">
					<figure class="common-box__figure">
						<a href="#" title="titulo">
							<img src="images/img/img-product.png">
						</a>
					</figure>

					<div class="common-box__body">
						<h2 class="title--small">
							<a href="#" title="titulo" >Calza con Falda</a>
						</h2>
										
						<p class="common-box__meta"><strong>Sku: 653421</strong> <em class="secondary-color"> Marca</em></p>

						<div class="form-producto-modal">
							<form method="post" action="" class="form-control__group">
								<div class="gridle-row">
									<div class="gridle-gr-4 gridle-gr-12@medium fondo-flecha">
										<select name="cotiza_talla" class="form-control__field form-control__field--select" required="">
											<option value="">S</option>
											<option value="1">Opción 1</option>
											<option value="2">Opción 2</option>
											<option value="3">Opción 3</option>
											<option value="4">Opción 4</option>
											<option value="5">Opción 5</option>
										</select>
									</div>
									<div class="gridle-gr-8 gridle-gr-12@medium fondo-flecha">
										<select name="cotiza_modelo" class="form-control__field form-control__field--select" required="">
											<option value="">Modelo</option>
											<option value="1">Opción 1</option>
											<option value="2">Opción 2</option>
											<option value="3">Opción 3</option>
											<option value="4">Opción 4</option>
											<option value="5">Opción 5</option>
										</select>
									</div>
								</div>
</form>
						<span class="common-box__tag common-box__tag--highlighted">$19.990</span>
						</div>
					</div>
				</article>
				
				<form data-module="common-form">
					<div class="gridle-gr-12 gridle-gr-12@medium">
						<div class="form-control" data-error-message="Debe ingresar su nombre">
							<label class="form-control__label">Nombre *</label>
							<input name="cotiza_nombre" type="text" class="form-control__field" required placeholder="Ingrese su nombre" data-custom-validation="onlyString">
							<small>(Sólo valores alfabéticos. Ejempo: Macarena Ahumada)</small>
						</div>
					</div>
					<div class="gridle-gr-12 gridle-gr-12@medium">
						<div class="form-control" data-error-message="Debe ingresar un email válido">
							<label class="form-control__label">Mail *</label>
							<input name="cotiza_correo" id="sample-email" type="email" class="form-control__field" required placeholder="Ingrese su email">
							<small>(Debe contener el valor “@“. Ejemplo: mimail@empresa.com)</small>
						</div>
					</div>
					<div class="gridle-gr-12 gridle-gr-12@medium">
						<div class="form-control" data-error-message="Debe ingresar su numero de teléfono">
							<label class="form-control__label">Celular</label>
								<div class="gridle-row">
									<div class="gridle-gr-2 gridle-gr-12@medium fondo-flecha">
										<select name="cotiza_cidigo_area" class="form-control__field form-control__field--select" required="">
											<option value="">32</option>
											<option value="1">Opción 1</option>
											<option value="2">Opción 2</option>
											<option value="3">Opción 3</option>
											<option value="4">Opción 4</option>
											<option value="5">Opción 5</option>
										</select>
									</div>
									<div class="gridle-gr-4 gridle-gr-12@medium"><input name="cotiza_telefono" type="text" class="form-control__field" required placeholder="9283908" data-custom-validation="onlyNumbers" data-minlength="3" data-maxlength="10"></div>
								</div>
							

							<small>Sólo caracteres numéricos</small>
						</div>
					</div>
					<div class="gridle-gr-12 gridle-gr-12@medium">
						<div class="form-control" data-error-message="Debe ingresar una cantidad de productos">
							<label class="form-control__label">Cantidad de productos a cotizar*</label>
							<div class="gridle-row">
								<div class="gridle-gr-2 gridle-gr-12@medium">
							<input name="cotiza_numero_productos" type="text" class="form-control__field" required placeholder="nº" data-custom-validation="onlyNumbers" data-minlength="1" data-maxlength="10">
							</div>
							</div>
							<small>Sólo caracteres numéricos</small>
						</div>
					<div class="gridle-gr-12 gridle-gr-12@medium">
						<div class="form-control">
							<label class="form-control__label">Comentario</label>
							<textarea name="cotiza_comentario" class="form-control__field mensajeform" required placeholder="Ingresa un comentario" rows="5" maxlength="500"></textarea>
							<span class="form-control__label font-size-tiny font-color-grey-light">Máx <span id="countpar">500</span> caracteres</span>
						</div>

						<p class="common-box__meta">* Campos obligatorios</p>
					</div>
					<div class="gridle-gr-12 gridle-gr-12@medium gridle-gr-centered">
						<button type="submit" class="button button--more button--ghost button--more__main" data-module="modal" data-role="modal-btn" data-target="ajax-template-formulario-respuesta.html">Enviar</button>
						<a href="#" title="titulo" class="button button--ghost button--off font-size-small" data-role="modal-btn">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script src="scripts/app.js"></script>