<section class="form-box" data-role="modal-content">
	<div class="container gridle-no-gutter">
		<div class="gridle-row">
			<div class="gridle-gr-12 gridle-gr-12@medium gridle-gr-centered">
				<h2 class="title--tiny font-centered">
					<strong>¡Gracias por cotizar con nosotros!</strong>
				</h2>

				<hr>

				<p class="common-box__excerpt font-centered">
					Para saber como realizar una compra ingresa a
				</p>

				<div class="common-box__extra font-centered">
          			<a href="como-comprar.html" class="button button--ghost button--plus font-color-grey-darkest font-size-small" >¿Cómo comprar?</a>
        		</div>
			</div>
		</div>
	</div>
</section>